/* .body {
    background-image: url('/static/images/bg3.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    background-position: center;
} */

.body {
    background-color: rgb(117, 241, 206);
}
